@import "tailwindcss";

@theme {
  --breakpoint-tablet: 900px;
  --breakpoint-mobile: 500px;
}

:root {
  font-family: "Raleway", sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fef6e1;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  width: max-content;
}

/* <<< ISHOLA CSS STYLES >>> */

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 0.6s ease-out forwards;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#categories {
  background-image: url("/pat2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#beat {
  display: inline-block;
  animation: beat-zoom 1.2s ease-in-out infinite;
}

@keyframes beat-zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

#whysection {
  background-image: url("/pat2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#tessection {
  background-image: url("/pat2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#loginbg {
  background-image: url("/pat2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#regbg {
  background-image: url("/pat2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainchat {
  background-image: url("/pat2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* emoji wave */
.wave {
  display: inline-block;
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

html {
  scroll-behavior: smooth;
}

/* <<< ISHOLA CSS STYLES >>> */
